ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  opacity: 0.8;  
  backdrop-filter: blur(4px);
}

li {
  float: left;
}

.p{
float: right;
padding: 18px 16px;
}


li a {
  display: block;
  color: white;
  text-align: center;
  
  text-decoration: none;
}


main {
  display: block;
  width: 75%;
  margin: 70px auto;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
body{
 background-color: rgb(218, 218, 218);
}


.bt{
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
.header {
  height: 600px;
  padding-top: 260px;
  font-size: 80px;
  color: white;
  margin: 0;
}
.bg-custom1 {
    background-color: #141414;
}

.logo{
  width: auto;
  height: 60px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.logo:hover{
  width: auto;
  height: 60px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

p {
  font-size: 1vw;
  font-style: italic;
  margin: 1%;
  padding: 1%;
}
h1{
  font-size: 1.5vw;
  font-weight: bold;
}
.KB{
  display: block;
  max-width: 50%;
  height: auto;
}
.footer{
    bottom: 0;
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
    height: 40px;
    position: absolute;
}
.table{
  overflow-y: hidden;
  
}